<!DOCTYPE html>
<html lang="es">



<body>
    <header id="navbar" style="margin-bottom: 5rem;"></header>
    
    <div class="container-fluid" style="display: flex;">
        <div class="container"></div>
        <div class="container col-lg-8">
            <section id="productsCard"></section>
            <section id="productsForm"> </section>
            <section id="productsTable"></section>
            <section id="productsChat"></section>
            <section id="mockDataTable"></section>
        </div>
        <div class="container col-lg-3">
            <section id="filterProductos"></section>
        </div>
    </div>
</body>
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
    <script src="./js/templates.js"></script>
    <script src="./js/templatesData.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/formValidation.js"></script>

</html>