<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card border-0 shadow rounded-3 my-5">
                    <div class="card-body p-4 p-sm-5 ">
                        <h3 class="card-title text-center mb-5 fw-light fs-5">{{title}}</h3>
                        <div class="mt-5 form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls text-center ">
                                <a id="btn-fblogin" href="#" class="btn btn-primary"
                                    onclick="location.href = '/auth/facebook'">Login with Facebook</a>
                            </div>
                        </div>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>